node_modules/
server/dist/
client/build/

# Cucumber test reports
client/reports/
cucumber-report.*

# jest coverage directory
coverage/

# multer folder
tmp_data/


# dotenv environment variables file
.env